<!DOCTYPE html>
<html lang="en">
<head>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--<script src="helloworld.js"></script>-->

    <!--  Hello solarsystem Code -->
    <script src="hello.js"></script>
    <script src="services1/people1.js"></script>
    <script src="components1/hello1.js"></script>
    <script src="components1/about1.js"></script>
    <script src="components1/people1.js"></script>
    <script src="components1/person1.js"></script>

    <!-- Visualizer and url -->
    <!--<link rel="stylesheet" href="styles.css">-->
    <script src="//npmcdn.com/show-current-browser-url"></script>
    <!--<script src="//npmcdn.com/d3@3"></script>-->
    <!--<script src="//npmcdn.com/ui-router-visualizer@1"></script>-->

</head>

<body ng-app="hello" ng-class="{'debug-sref': debug.uisref, 'debug-view': debug.uiview}">
<div>
    <button onClick="document.location.reload(true)">reload plunker</button>
    <button ng-click="debug.uiview = !debug.uiview">{{ debug.uiview ? "disable" : "enable"}} ui-view debug</button>
    <button ng-click="debug.uisref = !debug.uisref">{{ debug.uisref ? "disable" : "enable"}} ui-sref debug</button>
</div>
<div class="nav">
    <a ui-sref="hello" ui-sref-active="active">Hello</a>
    <a ui-sref="about" ui-sref-active="active">About</a>
    <a ui-sref="people" ui-sref-active="active">People</a>
</div>
<ui-view></ui-view>
</body>

</html>